.legend {
  display: flex;
  padding: 0;
  flex-direction: column;
}

.legend li {
  display: flex;
  align-items: center;
  margin: 8px;
  list-style-type: none;
}

.legend .circle {
  border: 1px solid lightgray;
  margin: 0 5px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.legend .available {
  background-color: white;
}

.legend .unavailable {
  background-color: gray;
}
