.display-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.align-center {
  align-items: center;
}

.flex-start {
  justify-content: flex-start;
}

.full-w {
  width: 100%;
}

.full-h {
  height: 100%;
}

.login-form button {
  margin-top: 15px;
}
