.welcome-scene header {
  display: flex;
  justify-content: center;
  background-color: white;
  box-shadow: 1px 1px 1px lightgray;
}

.welcome-scene header .user-wrapper {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.welcome-scene .client-name {
  margin: 15px;
}
